.container {
 /* overflow: hidden;*/
}

.sliding-background {
  background: url('../images/space.jpg') repeat-x;
  height: 120vh;
  width: 10000px;
  animation: slide 60s linear infinite;
  position: fixed;
  z-index: -1;
  /* object-fit: contain; */
      margin-left: -1000px;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}
